In [2]:
# packages?
import pandas as pd
import numpy as np

In [2]:
# 1 data exploratory

train_data = pd.read_csv('train_2025_2026.csv')
train_data.head()

,Gene 1,Gene 2,Gene 3,Gene 4,Gene 5,Gene 6,Gene 7,Gene 8,Gene 9,Gene 10,...,Gene 1993,Gene 1994,Gene 1995,Gene 1996,Gene 1997,Gene 1998,Gene 1999,Gene 2000,Outcome,Id
0,NaN,133.0,75.0,12971.0,401.0,296.0,348.0,1087.0,4224.0,NaN,...,101.0,16517.0,308.0,100.0,235.0,55.0,219.0,348.0,3,2654
1,5.0,127.0,85.0,15875.0,285.0,305.0,298.0,1297.0,2090.0,8.0,...,64.0,17950.0,458.0,191.0,137.0,110.0,204.0,346.0,0,1477
2,5.0,81.0,133.0,NaN,228.0,387.0,465.0,2657.0,3653.0,32.0,...,138.0,11715.0,181.0,161.0,261.0,60.0,150.0,336.0,2,1794
3,5.0,75.0,NaN,17527.0,467.0,242.0,392.0,3482.0,3408.0,59.0,...,88.0,12420.0,403.0,114.0,290.0,110.0,244.0,204.0,2,2058
4,4.0,74.0,103.0,13053.0,329.0,NaN,357.0,2714.0,2739.0,75.0,...,129.0,11697.0,205.0,102.0,269.0,66.0,187.0,53.0,0,1375

In [ ]:
# Answear to guided exercise 2:


from sklearn.utils import resample


imbalanced_data = pd.read_csv('train_2025_2026.csv')
#print(imbalanced_data.describe())

#we check the classes and it's counts
class_counts = imbalanced_data['Outcome'].value_counts()
print(class_counts)
print('--------')
#we save the number of samples of the class with less samples
num_min = min(imbalanced_data['Outcome'].value_counts())
print('Number of samples of the class with less samples:', num_min)
print('--------')
temp_list = []

# we iterate over all clases to resample each one with the same number of samples of the class with less samples. (Undersampling)
for class_ in imbalanced_data['Outcome'].unique():
    df_class = imbalanced_data[imbalanced_data['Outcome'] == class_]
    df_class_under = resample(df_class, replace=False, n_samples=num_min, random_state=42)
    temp_list.append(df_class_under)

#rebuild balanced df
balanced_data = pd.concat(temp_list)
print('New class sample distribution:', '\n', balanced_data['Outcome'].value_counts())
print('--------')
print('Head:', '\n', balanced_data.head())
print('--------')
print('Tail:', '\n',balanced_data.tail())
#save balanced .csv
#balanced_data.to_csv('training_balanced_data.csv')

Outcome
3    1280
2     881
1     730
0     629
Name: count, dtype: int64
--------
Number of samples of the class with less samples: 629
--------
New class sample distribution:
 Outcome
3    629
0    629
2    629
1    629
Name: count, dtype: int64
--------
Head:
       Gene 1  Gene 2  Gene 3   Gene 4  Gene 5  Gene 6  Gene 7  Gene 8  Gene 9  \
3415     4.0   103.0    54.0  12207.0   364.0   421.0   280.0  2803.0  2253.0
1969     4.0   123.0   121.0  15007.0   228.0   311.0   433.0  2718.0     NaN
2523     3.0   145.0    74.0  14686.0   418.0   433.0   386.0  1767.0  3057.0
2173     6.0   106.0    94.0  16621.0   385.0   303.0   386.0  4111.0  2721.0
2087     4.0    87.0     NaN  17093.0   407.0   306.0   326.0  4048.0  1892.0

      Gene 10  ...  Gene 1993  Gene 1994  Gene 1995  Gene 1996  Gene 1997  \
3415     54.0  ...      122.0    18502.0      407.0      132.0      297.0
1969     51.0  ...      127.0    12704.0      475.0      143.0      297.0
2523     51.0  ...       94.0    12811.0        NaN       90.0      283.0
2173     94.0  ...      135.0    16680.0        NaN      199.0      228.0
2087     57.0  ...      111.0    13142.0      405.0        NaN      386.0

      Gene 1998  Gene 1999  Gene 2000  Outcome    Id
3415       73.0      190.0      238.0        3  2623
1969       76.0      234.0      279.0        3  2439
2523      100.0      122.0      222.0        3  3187
2173       49.0      169.0      237.0        3  1948
2087       76.0      284.0      262.0        3  1398

[5 rows x 2002 columns]
--------
Tail:
       Gene 1  Gene 2  Gene 3   Gene 4  Gene 5  Gene 6  Gene 7  Gene 8  Gene 9  \
1088     3.0   117.0    59.0  10292.0   498.0   318.0   450.0  2384.0  2113.0
2307     4.0    76.0   127.0  15886.0   273.0   246.0   281.0  3309.0  3245.0
1792     4.0   156.0   135.0  21011.0   354.0   420.0   475.0  3180.0  2153.0
1375     3.0   102.0   112.0  11163.0   379.0   341.0   675.0  2625.0  2665.0
1993     4.0    99.0   106.0   4053.0   226.0   316.0   586.0     NaN  3071.0

      Gene 10  ...  Gene 1993  Gene 1994  Gene 1995  Gene 1996  Gene 1997  \
1088     67.0  ...       98.0    17371.0      319.0      130.0      378.0
2307     59.0  ...      106.0    12181.0      340.0      135.0      245.0
1792     57.0  ...      160.0    15574.0      530.0      134.0      353.0
1375     61.0  ...       67.0    19242.0      404.0      151.0      306.0
1993     48.0  ...      116.0    12725.0      294.0      194.0      350.0

      Gene 1998  Gene 1999  Gene 2000  Outcome    Id
1088       71.0        NaN      278.0        1  1297
2307       71.0      138.0      214.0        1  3589
1792       80.0      182.0      267.0        1  2302
1375       84.0      338.0      303.0        1  1385
1993       50.0      188.0      206.0        1  1303

[5 rows x 2002 columns]

In [ ]:
# Answear to guided excercise 3
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

train_data = pd.read_csv('training_balanced_data.csv')


X_train, y_train, X_test, y_test = train_test_split(balanced_data)




model = make_pipeline(SimpleImputer())