In [1]:
# packages?
import pandas as pd
import numpy as np

In [4]:
# 1 data exploratory

train_data = pd.read_csv('train_2025_2026.csv')
train_data.head()

,Gene 1,Gene 2,Gene 3,Gene 4,Gene 5,Gene 6,Gene 7,Gene 8,Gene 9,Gene 10,...,Gene 1993,Gene 1994,Gene 1995,Gene 1996,Gene 1997,Gene 1998,Gene 1999,Gene 2000,Outcome,Id
0,NaN,133.0,75.0,12971.0,401.0,296.0,348.0,1087.0,4224.0,NaN,...,101.0,16517.0,308.0,100.0,235.0,55.0,219.0,348.0,3,2654
1,5.0,127.0,85.0,15875.0,285.0,305.0,298.0,1297.0,2090.0,8.0,...,64.0,17950.0,458.0,191.0,137.0,110.0,204.0,346.0,0,1477
2,5.0,81.0,133.0,NaN,228.0,387.0,465.0,2657.0,3653.0,32.0,...,138.0,11715.0,181.0,161.0,261.0,60.0,150.0,336.0,2,1794
3,5.0,75.0,NaN,17527.0,467.0,242.0,392.0,3482.0,3408.0,59.0,...,88.0,12420.0,403.0,114.0,290.0,110.0,244.0,204.0,2,2058
4,4.0,74.0,103.0,13053.0,329.0,NaN,357.0,2714.0,2739.0,75.0,...,129.0,11697.0,205.0,102.0,269.0,66.0,187.0,53.0,0,1375